<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Student Record App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>

        <div><center><h1 style="background-color: rosybrown;">STUDENT MANAGEMENT SYSTEM</h1></center></div>

        <div class="bg">
          <div class="row mb-5 ">
            <div class="col">
              <nav class="navbar navbar-expand-lg text-light bg-dark">


                 <ul class="navbar-nav">
                   <li class="nav-item"><a href="form.html" class="nav-link">ADD RECORD</a></li>
                   <li class="nav-item"><a href="homepage" class="nav-link">VIEW RECORD</a></li>

                 </ul>
              </nav>


            </div>
         </div>


        </div>
      </div>
        {% block content %}
        {% endblock %}

  </body>
</html>
