{% extends "base.html" %}
{% block content %}



    <table class="table table-striped" border="5"  width=100% style="background-color:#FFFFE0">




      <tr bgcolor="lightblue">

          <th>Roll No.</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Fees</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
        {% for myn in studentrecord %}
              <tr>
                <td>{{myn.rollno}}</td>
                <td>{{myn.name}}</td>
                <td>{{myn.contact}}</td>
                <td>{{myn.fees}}</td>
                <td>{{myn.edit}}<a href="/editing.html/{{myn.id}}" ><button class="btn btn-info">Edit</button ></a></td>
                <td>{{myn.delete}}<a href="/deleterecord/{{myn.id}}"><button class="btn btn-danger">Delete</button ></a></td>
              </tr>
        {% endfor %}
    </table>

     {% endblock %}
